* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header {
    background: linear-gradient(45deg, hsl(211, 80%, 48%), #222222);
    color: #fff;
    padding: 50px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.header-content p {
    font-size: 1.2rem;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.contact-info a:hover {
    color: #ffd700;
}

.social-links a {
    margin: 0 10px;
    color: #ffd700;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #00ff00;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    margin: 20px 0;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #007bff;
}

.section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.section:hover {
    transform: translateY(-5px);
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #007bff;
    left: 0;
    bottom: -10px;
    border-radius: 5px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.project-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #ffd700;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    color: #00ff00;
}
